<div class="row">

    <div class="">
        <div class="row">
            <div class="">
                <h1 class="my-6 text-center">Herní tituly</h1>
            </div>
        </div>

        <div class="row">
            @{ if (Model != null && Model.Products != null && Model.Products.Count > 0)
                {
                    for (int i = 0; i < Model.Products.Count; i++)
                    {
                        <div class="col-lg-4 col-md-6 mb-4 text-center">
                            <div class="card h-100">
                                <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@Model.Products[i].ID"><img class="card-img-top" height="300" width="300" src="@Model.Products[i].ImageSrc" alt="@Model.Products[i].ImageAlt"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@Model.Products[i].ID">@Model.Products[i].Name</a>
                                    </h4>
                                    <h5>@Model.Products[i].Price Kč</h5>
                                    @*<p class="card-text">@Model.Products[i].DetailOfProduct</p>*@
                                    <input type="button" class="btn-success" value="Buy" style="font-size:1.4em;text-align:center"
                                           onclick="Buy(@Model.Products[i].ID, '@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "Customer" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')" />
                                </div>
                                <br />
                            </div>
                        </div>
                    }

                }
            }
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->