@model ProductViewModel
@{
    ViewData["Title"] = "Product";
}

<h2>@ViewData["Title"] </h2>


<a asp-area="Admin" asp-controller="Products" asp-action="Create">Create Products</a>
<br />
<br />

@{ if (Model != null && Model.Products != null && Model.Products.Count > 0)
    {
        <table style="width:100%">
            <tr>
                <th class="col-sm-1">@Html.DisplayNameFor(model => model.Products[0].ID)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].Name)</th>
                <th class="col-sm-1">@Html.DisplayNameFor(model => model.Products[0].Price)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].Category)</th>
                <th class="col-sm-3">@Html.DisplayNameFor(model => model.Products[0].ImageSrc)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].ImageAlt)</th>
                <th class="col-sm-1">@Html.DisplayNameFor(model => model.Products[0].DetailOfProduct)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.Products[0].DateTimeCreated)</th>
                @*<th class="col-sm-1">Edit</th>
        <th class="col-sm-1">Delete</th>*@
            </tr>
            @foreach (var product in Model.Products)
            {
        <tr>
            <td class="col-sm-1">@product.ID</td>
            <td class="col-sm-2">@product.Name</td>
            <td class="col-sm-1">@product.Price</td>
            <td class="col-sm-2">@product.Category</td>
            <td class="col-sm-3">@product.ImageSrc</td>
            <td class="col-sm-2">@product.ImageAlt</td>
            <td class="col-sm-1">@product.DetailOfProduct</td>
            <td class="col-sm-2">@product.DateTimeCreated</td>
            <td class="col-sm-1"><a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@product.ID">Edit</a></td>
            <td class="col-sm-1"><a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@product.ID" onclick="return ConfirmDelete();">Delete</a></td>
        </tr>
            }
        </table>
    }
    else
    {
        <h2> Product items not found!</h2>
    }
}

@section Scripts
{
    <script src="~/js/Scripts.js"></script>
}